<div class = 'container'>
<%= link_to image_tag("angle-left.svg", :alt => "back", class: 'angle_left'), :back %>
  <h2 class = 'G-font heading_1 text_center'>Edit <%= resource_name.to_s.humanize %></h2>
  <div class = 'd_flex_vertical align_cetner '>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.email_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name', class: 'f-feild heading_3' %><br/><br/>
      <%= f.email_field :email, autocomplete: "email" , placeholder: 'Email', class: 'f-feild heading_3' %><br/><br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <i class = 'heading_5'>(leave blank if you don't want to change it)</i><br/>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'New password', class: 'f-feild heading_3' %>
    <% if @minimum_password_length %>
      <br />
      <em class = 'heading_5'><%= @minimum_password_length %> characters minimum</em>
    <% end %><br/><br/>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm password', class: 'f-feild heading_3'  %>
  </div><br/>

  <div class="field">
    <i class = 'heading_5'>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Current password', class: 'f-feild heading_3'  %>
  </div><br/><br/>

  <div class="actions">
    <%= f.submit "Update", class: 'btn bg_blue heading_3' %>
  </div>
<% end %>
  </div>
</div>
  