
<div class = 'container'>
  <h2 class = 'G-font heading_1 text_center'>Sign up</h2>
  <div class = 'text_center'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" , placeholder: 'Name', class: 'f-feild heading_3' %><br/><br/>
      <%= f.email_field :email, autocomplete: "email", placeholder: 'Email', class: 'f-feild heading_3' %><br/><br/>
      <% if @minimum_password_length %>
        <em class = 'heading_5'>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/><br/>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'f-feild heading_3' %><br/><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm password', class: 'f-feild heading_3' %><br/><br/><br/>
      <div class="actions">
        <%= f.submit "Sign up", class: 'btn bg_blue heading_3' %>
      </div>
    <% end %>
  </div>
</div>
