<div class = 'buttom_border'>
  <div class = 'container d_flex align_cetner space_between'>
    <div class = 'd_flex align_cetner gap_2'>
      <%= link_to image_tag("wm.svg", :alt => "wallet manager", class: 'logo'), root_path %>
      <% if user_signed_in? %>
        <div class = 'wide_menu align_cetner gap_2'>
          <%= link_to 'Categories', user_categories_path(user_id: current_user.id), class: 'nav_link' %>
          <%= link_to 'Transaction', new_user_transaction_path(user_id: current_user.id), class: 'nav_link' %>
        </div>
      <% end %>
    </div>
    <div class = 'wide_menu gap_2 '>
    <% if user_signed_in? %>
      <%= link_to current_user.name, edit_user_registration_path, class: 'nav_link' %>
      <%= button_to 'Sign out', destroy_user_session_path , method: :delete, class: 'nav_link'%>
    <% else %>
      <%= link_to 'Log in', user_session_path , class: 'nav_link'%>
      <%= link_to 'Register', new_user_registration_path , class: 'nav_link'%>
    <% end %>
    </div>
    <%= image_tag("burger.svg", :alt => "burger", class: 'menu', id: 'menu_btn') %>
  </div>
  <div class = 'mobile_menu ' id = 'menu_box'>
    <br>
    <% if user_signed_in? %>
      <%= link_to 'Categories', user_categories_path(user_id: current_user.id), class: 'nav_link mob_nav_link' %>
      <%= link_to 'Transaction', new_user_transaction_path(user_id: current_user.id), class: 'nav_link mob_nav_link' %>
      <hr class = 'menu_line'>
      <%= link_to current_user.name, edit_user_registration_path, class: 'nav_link mob_nav_link' %>
      <%= button_to 'Sign out', destroy_user_session_path , method: :delete, class: 'nav_link mob_nav_link'%>
    <% else %>
      <%= link_to 'Log in', user_session_path , class: 'nav_link mob_nav_link'%>
      <%= link_to 'Register', new_user_registration_path , class: 'nav_link mob_nav_link'%>
    <% end %>
    <br>
  </div>
</div>
