
<div class = 'container login'>
  <div>
  </div>
  <%= image_tag("wm.svg", :alt => "burger", class: 'banner_logo') %>
  <div class = 'login_f_holder'>
    <h2 class = 'heading_1 G-font text_center'>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form') do |f| %>
      <%= f.email_field :email, autofocus: true, class: 'f-feild heading_3',placeholder: 'Email' %><br> <br>
      <%= f.password_field :password, class: 'f-feild heading_3', placeholder: 'Password' %><br><br>
      <% if devise_mapping.rememberable? %>
        <div class="text_center field heading_4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %><br>
      <div class="actions d_flex justify_center">
        <%= f.submit "Log in", class: "btn bg_blue heading_3"%>
      </div>
    <% end %>
  </div>
</div>