
<div class = 'container'>
  <div class = 'd_flex align_cetner space_between'>
    <%= link_to image_tag("angle-left.svg", :alt => "back", class: 'angle_left'), :back %>
    <h1 class = 'G-font heading_2 text_center'>Create New Category</h1>
    <i></i>
  </div>
  <hr>
  <br>
  <%= form_with model: @categories, local: true, url: user_categories_path , class: 'form d_flex_vertical gap_2' do |f| %>
    <%= f.text_field :name, autofocus: true, placeholder: 'Category Name' , required: true, class: 'f-feild heading_3'  %>
    <%= f.text_field :icon, placeholder: 'Category Icon' , required: true, class: 'f-feild heading_3'  %>
    <%= f.submit "Create Category" , class: 'btn bg_blue heading_4' %> 
  <% end %>
</div>
